html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 10px;
  font-size: 36px;
}

h2 {
  margin: 0;
  font-size: 20px;
}

h1, h2 {
  text-align: center;
}

hr {
  border: none;
  border-bottom: 0.2em solid red;
  margin-bottom: 0;
  max-width: 600px;
}

ul {
  margin-top: 0;
  background-color: #c5c7c7;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

ul a {
  color: black;
  text-decoration: none;
}

li {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  padding: 0 40px;
}

#home a {
  color: red;
}

a:hover {
  background-color: #fbfefe;
  padding-top: 17px;
  padding-bottom: 17px;
}

div.navigation {
  text-align: center;
  width: auto;
}

.flexImagesTop {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.middle {
  transition: .5s ease;
  margin: 0;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  backgroud-color: white;
}

.flexImages:hover .image1 {
  opacity: 0.3;
}

.flexImages:hover .image2 {
  opacity: 0.3;
}

.flexImages:hover .middle {
  opacity: 1;
}

.text1 {
  background-color: #4CAF50;
  color: blue;
  font-size: 16px;
  padding: 16px 32px;
}

.flexTextContainer {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 800px;
  padding-left:40px
}

.flexTextContainer h4 {
  font-size: 150%
}

.whatsNew {
  flex: 1;
}

.whatsNew h4 {
  color: red;
}

.modernLayout {
  flex: 3;
}

.modernLayout p {
  column-count: 3;
}
